body{
    margin-top: 20px;
}

.menu{
    margin-bottom: 20px;
}

.currency_icon{
    color: green;
}

.extra,.content{
    color: black !important;
}

.ui.text.menu{
    display: flex;
    justify-content: center !important;
}
.ui.text.menu,.items{
    padding-right: 20px;
}


@media screen and (max-width: 990px){
    div.description {
        display: none;
    }
}

@media screen and (max-width: 780px){
    .ui.four.cards>.card {
        width: calc(33% - 1.5em);
    }
}

@media screen and (max-width: 675px){
    .ui.four.cards>.card {
        width: calc(50% - 1.5em);
    }
    .ui.text.menu, .items {
        padding-right: 0;
    }
    .ui.text.menu {
        flex-wrap: wrap;
    }

}


@media screen and (max-width: 500px){
    .ui.four.cards>.card {
        width: calc(75% - .5em);
    }
    .ui.four.cards {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 440px){
    .ui.menu > div.item:first-child {
        display: none;
    }
    .right.menu {
        margin: 0 !important;
    }
    a.item {
        justify-content: center !important;
    }
    .right.menu {
        
        justify-content: center;
        width: 308px;
    }
    .ui.menu .item:before {
        background: none;
    }
}